extends ../layout.pug

block content
  .projectInfo
    h1
      != PrismicDOM.RichText.asText(document.data.title, ctx.linkResolver)
    p
      != PrismicDOM.RichText.asText(document.data.description, ctx.linkResolver)
