extends ../layout.pug

block content
  .intro
    h1
      != PrismicDOM.RichText.asText(document.data.intro_message, ctx.linkResolver)
  div(class="csBlock caseStudies")
      h3.caseStudies__title Work
      .csBlock__tagIndicator.-left
        each tag in document.data.uniqueTags
          p.csBlock__tagIndicator__tag= tag
      .csBlock__tagIndicator.-right 
        p.csBlock__tagIndicator__tag.-right 1 of 8
      - var csList = document.data.case_study_list
      ul(class="caseStudies__list" data-tags=csTags)
        each csItem in csList
          -var csTags = csItem.case_study_item.tags
          li.caseStudies__list__item
            a(href=`/work/${csItem.case_study_item.uid}`)
              h2!= PrismicDOM.RichText.asText(csItem.case_study_item.data.title)
