
.cover {
  /* border: 1px solid blue; */
  padding: 2em 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.cover * {
  /* border: 1px solid green; */
}

.titleWrapper {
  font-size: calc(2.023em + 1vw);
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
