@import 'mixins.scss';

html {
  line-height: 1.2;
  font-family: Suisse, helvetica, arial, sans-serif;
  letter-spacing: 0.02em;
  font-size: 18px;

  @include min-width('mobile-lg') {
    font-size: 19px;
  }

  @include min-width('tablet') {
    font-size: 20px;
  }

  @include min-width('laptop') {
    font-size: 21px;
  }

  @include min-width('desktop') {
    font-size: calc(8px + 1vw);
  }
}

.h1 {
  font-size: 1.78rem;
  line-height: 1.05;

  br {
    display: none;
  }

  @include min-width('mobile-lg') {
    br {
      display: block;
    }
  }

  @include min-width('tablet') {
    font-size: 2.37rem;
  }

  @include min-width('laptop') {
    font-size: 3.16rem;
  }
}

.indent {
  text-indent: 2em;
}

br {
  display: none;
}
