:root {
  --window-height: 100vh;
  --full-height: calc(var(--window-height) - var(--nav-height));

  --space-standard: 1.33rem;
  --space-small: 0.667rem;
  --space-medium: 3.16rem;
  --space-large: 5rem;

  --nav-height: 2.25rem;
  --wrap-width: 65rem;

  --z-nav: 20;
  --z-project-page: 10;
  --z-preview-overlay: 30;

  --color-img-preload-background: #f7f7f7;
}
