@import 'reset.scss';
// @import 'space.scss';
// @import 'typography.scss';
// @import 'font.scss';
// @import 'mixins.scss';
// @import 'vars.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
