@import 'reset.scss';
@import 'typography.scss';
@import 'font.scss';
@import 'mixins.scss';
@import 'utility.scss';
@import 'vars.scss';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

body {
  background: white;
  overscroll-behavior-y: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

img,
video {
  display: block;
  width: 100%;
}

hr {
  border-bottom: 1px dashed black;
}

button,
a {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}
