.frame {
  min-height: 100vh;
  border: 1px solid green;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
}

.frame div {
  border: 1px solid blue;
}
