doctype html(lang='en')

head
    title Tyler McRobert
    link(rel="stylesheet", href="css/app.css")
    meta(name="viewport", content="width=device-width, initial-scale=1")
        
body
    block body
