.listItem {
  cursor: pointer;
  text-align: center;
  transition: color 0.8s ease 0s;
  font-size: 1.618em;
  line-height:2;
}

.link {
  composes: light-text from '../../styles/variables.module.css';
}
