.item {
  display: inline;
  padding: 0 1rem;
}

.item:not(.active) {
  color: #6a6a6a;
}

.sideways {
  composes: small from '../../styles/variables.module.css';
  position: absolute;
  top: 0;
  width: 100vh;
  text-align: center;
  line-height: 3em;
}

.left {
  transform-origin: 0% 0%;
  transform-origin: 100 100;
  transform: rotate(-90deg) translate3d(-100%, 0, 0);
  left: 0

}

.right {
  transform: rotate(90deg) translate3d(calc(100%), 0, 0);
  transform-origin: right 0;
  right: 0;
}
