@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 1em, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -1em, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }

@keyframes scaleUp {
  from {
    transform: scale(0.97); }
  to {
    transform: scale(1); } }

.fade-enter-active {
  display: none; }

.fade-enter-done .caseStudyIndex__list {
  animation: scaleUp, fadeInUp 1.75s cubic-bezier(0, 0.75, 0.25, 1); }

.fade-enter-done .caseStudyIntro {
  animation: scaleUp, fadeInUp 1.75s cubic-bezier(0, 0.75, 0.25, 1); }
  .fade-enter-done .caseStudyIntro__title {
    animation: fadeInUp 1.75s cubic-bezier(0, 0.75, 0.25, 1); }
  .fade-enter-done .caseStudyIntro__info {
    animation: fadeInDown 1.75s cubic-bezier(0, 0.75, 0.25, 1); }

.fade-exit-active .caseStudy,
.fade-exit-active .caseStudyIndex__list {
  opacity: 0;
  transform: translate3d(0, 1em, 0);
  transition: all 0.25s cubic-bezier(0, 0.75, 0.25, 1); }
