@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translate3d(0, 1em, 0)
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0)
  }
}

@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translate3d(0, -1em, 0)
  }
  to {
      opacity: 1;
      transform: translate3d(0, 0, 0)
  }
}

@keyframes scaleUp {
  from {
      transform: scale(.97);
  }
  to {
    transform: scale(1);
  }
}

.fade-enter.fade-enter-active {
  display:none;
}

.fade-exit-active .caseStudyIndex__list, .fade-exit-active .caseStudy{
  opacity: 0;
  transform: scale(.97) translate3d(0, 1em, 0);
  transition: all 260ms cubic-bezier(0,.75,.25,1);
}

/* Fade enter done */

.fade-enter-done .caseStudyIndex__list{
  opacity: 1;
  transition: all 3750ms cubic-bezier(0,.75,.25,1);
}

.fade-enter-active .caseStudyIntro__title{
  opacity: 0;
}

.fade-enter-done .caseStudyIntro{
  animation: scaleUp 1.75s cubic-bezier(0,.75,.25,1);
}
.fade-enter-done .caseStudyIntro__title{
  animation: fadeInUp 1.75s cubic-bezier(0,.75,.25,1);
}
.fade-enter-done .caseStudyIntro__info{
  animation: fadeInDown 1.75s cubic-bezier(0,.75,.25,1);
}

.fade-enter-done .caseStudyWrapper{
  animation: fadeInUp 1.75s cubic-bezier(0,.75,.25,1);
}
