@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 1em, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


@keyframes indexList {
  from {
    opacity: 0;
    transform:  scale(.93);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes indexListOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform:  scale(.97);
  }

  100% {
    opacity: 0;
    transform:  scale(.97);
  }
}

@keyframes caseStudyOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0em, 0);

  }

  50% {
    transform: translate3d(0, 1em, 0);
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 1em, 0);

  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -1.5em, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes scaleUp {
  from {
    transform: scale(.97);
  }

  to {
    transform: scale(1);
  }
}


$ease: cubic-bezier(0, .75, .25, 1);
$ease-rev: cubic-bezier(.5, 0, 1, .5);

.fade-enter-active {
  display: none;
}

.fade-enter-done {

  .caseStudyIndex__list{
    animation: indexList 1000ms $ease;
  }

  .caseStudyIntro {
    animation: scaleUp 1000ms $ease;

    &__title {
      animation: fadeInUp 1000ms $ease;
    }

    &__info {
      animation: fadeInDown 1000ms $ease;
    }
  }
}

.fade-exit-active {

  .caseStudyIndex__list{
    animation: indexListOut 400ms $ease-rev;
  }
  .caseStudy {
    animation: caseStudyOut 400ms $ease-rev;
  }
}
