body {
  font-family: 'helvetica neue';
  font-size: $p-size;
  line-height: $p-line;
  color: $grey-dk;
  font-weight: 400;
  letter-spacing: .01em;
  font-size:$font-size-base;
}

a {
  color: $grey-dk;
}

p {
  color: $grey-lt;
  font-size: $p-size;
};

h3 {
  font-size: $h3-size;
  line-height: $h3-line;
}

h2 {
  font-size: $h2-size;
  line-height: $h2-line;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-line;
}

.underline {
  text-decoration: underline;
}
