body {
  font-family: 'helvetica neue';
  line-height: $p-line;
  color: $color-text-main;
  font-weight: 400;
  letter-spacing: .025em;
  font-size: $font-size-base;

  @include breakpoint(mobile) {
    font-size: $font-size-mobile;
  }
  @include breakpoint(laptop) {
    font-size: $font-size-laptop;
  }
  @include breakpoint(desktop) {
    font-size: $font-size-desktop;
  }
}

a {
  color: $color-text-main;
}

p {
  color: $color-text-secondary;
  font-size: $p-size;
};

h3 {
  font-size: $h3-size;
  line-height: $h3-line;
}

h2 {
  font-size: $h2-size;
  line-height: $h2-line;
}

h1 {
  font-size: $h1-size;
  line-height: $h1-line;

  &.size-vw {
    font-size: $h1-size-vw;
  }
}

.underline {
  text-decoration: underline;
}
