# Required - The ID of your Sanity project
SANITY_STUDIO_PROJECT_ID="xxx"

# Required - The title of the Sanity Studio project
SANITY_STUDIO_TITLE="Example Name"

# Required - The link that will be used for previewing in production
SANITY_STUDIO_PREVIEW_LINK="https://yourdomain.com"

# Required - The dataset of the studio
SANITY_STUDIO_DATASET="production"
