@import './richtext.css' layer(base);
@import 'tailwindcss';

@config '../../tailwind.config.js';

@utility text-h1 {
	@apply leading-1.2 text-[36px];
}

@utility text-h2 {
	@apply leading-1.2 text-[26px];
}

@theme {
	--color-background: 255 255 255;
	--color-foreground: 0 0 0;

	--spacing-nav-height: 60px;
}

@layer base {
	html {
		@apply bg-background text-foreground antialiased;
	}
}
