.-animated {

  animation: fadeIn $anim-speed-fast ease; //default animation

  &.home__intro {
    animation: fadeInUp $anim-speed-slow ease;
  }

  &.csBlock {
    animation: fadeIn $anim-speed-fast ease;

    .caseStudy {
      &__info {

        &__title {
          animation: fadeInDown $anim-speed ease;
        }

        &__desc {
          animation: fadeInUp $anim-speed ease;
        }
      }
    }
  }
}

.csBlock__verticalData {
  .-active {
    transition: color $anim-speed-extra-fast ease;
  }
}

.-scroll-animate {

  transition: opacity $anim-speed-fast ease;
  opacity: 0;

  &.-is-animate {
    opacity: 1;
  }

}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, $spacer, 0);
    }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -$spacer, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
