
.caseStudy {

  &__block{
    overflow:auto;
  }
  &__website {
    margin: 10%;

    &__frame {
      padding: $browser-dot-size * 1.5; //wack
      background-color: $color-text-secondary;
      border-radius: ($browser-dot-size / 2) ($browser-dot-size / 2) 0 0;
      line-height: 0;

      .dot {
        display: inline-block;

        /* the following css is causing wack circles */

        width: $browser-dot-size;
        height: $browser-dot-size;
        border-radius: $browser-dot-size / 2;
        margin-right: $browser-dot-size / 2;
        background: $color-bg;
      }
    }
  }

  &__info {

    &__title {
      flex: 1; //fill remaining of height
      min-height: 400px;
      display: flex;
      align-items: center;
      text-align: center;
    }

    &__desc {
      flex: 0;
      margin-bottom: 4em;
      display: flex;
      margin: 0 (-$gutter) $spacer-xxl;

      @include breakpoint(mobile) {
        display: block;
      }

      .overview,
      .roles {
       margin: 0 $gutter;
      }


      .overview {
        flex-basis: 70%;
      }

      .roles {
        flex-basis: 30%;
      }
    }
  }

  &__img,
  &__video {
    width: 100%;
    height: auto;
    display: block; //Prevents weird space after images
    align-self: flex-start; //Prevents image stretching
  }

  &__nextNav {
    padding: $spacer-xxl $gutter;
    text-align: center;

    p {
      margin-bottom: $spacer;
    }
  }
}
