
.csBlock {

  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $gutter;

  @include breakpoint(tablet-portrait) {
    padding: 0 ($gutter * 2) + $p-size + .5; //gutter for each side of the block + size of p + a little extra
  }

  &__verticalData {

    @include breakpoint(mobile) {
      display: none;
    }

    position: absolute;
    top: 50vh;
    width: 100vh;
    text-align: center;
    line-height: 1;

    &__item {
      display: inline-block;
      margin: 0 $spacer;
      font-size: $p-size-small;
    }

    &.-left {
      left: -50vh;
      transform: rotate(270deg) translateY(50%);
      margin-left: $gutter;
      animation: fadeInTags $anim-speed ease;

    }

    &.-right {
      right: -50vh;
      transform: rotate(90deg) translateY(50%);
      margin-right: $gutter;
    }

    &.-tags {

      :not(.-active) {
        color: $color-text-secondary;
      }
    }
  }
}
