
.csBlock {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__tagIndicator {
    position: absolute;
    top: 50vh;
    width: 100vh;
    transform: translate(0, -50%);
    text-align: center;

    &.-left {
      left: calc(-50vh + 1.25em);
      transform: rotate(270deg);
    }

    &.-right {
      right: calc(-50vh + 1.25em);
      transform: rotate(90deg);

      p {
        color: $color-text-main;
      }
    }

    &__tag {
      display: inline-block;
      margin: 1em;
      color: $color-text-secondary;
      font-size: $p-size-small;


      &.active {
        color: $color-text-main;
      }
    }
  }
}
