.intro {
  min-height: 100vh;
  display: flex;
  align-items: center;

  &__heading {
    flex-basis: 66.6%;
    margin: 0 $gutter;
  }

}

.caseStudies {

  &__title { //where it says "work"
    flex: 0;
    font-size: $p-size-small;
    line-height: $spacer;
  }

  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__item {

      &:not(.-active) {
        color: $color-text-secondary;
      }

      a,
      h2 {
        color: inherit;
      }

      h2 {
        margin: $spacer-xs 0;
      }


    }
  }

}
