.nav {
  position: fixed;
  z-index: 50;
  display: flex;
  width: 100vw;

  &__item {
    margin: $spacer-sm $gutter;

    &.-brand {
      flex: 1;
    }

    .nowPlaying {
      display: flex;
      height: ($p-size * $p-line);

      &__icon {
        display: flex;
        align-items: center;
      }

      &__content {
        display: none;
        width: 0;

        &.-enabled {
          display: block;
          width: auto;
        }

        &--label {
          margin: 0 $spacer-xs;
        }

        &--value {
          max-width: 200px;
        }
      }

    }

  }
}
