.nav {
  position: fixed;
  z-index: 50;
  display: flex;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 ($gutter / 2 );

  &__item {
    margin: $spacer-sm ($gutter / 2);

    &.-brand {
      flex: 1;
    }

    .nowPlaying {
      display: flex;
      height: ($p-size * $p-line);

      &__icon {
        display: flex;
        align-items: center;
      }

      &__content {
        max-width: 0;
        white-space: nowrap;
        overflow: hidden;
        opacity: 0;
        transition:
          max-width $anim-speed-extra-fast,
          padding-left $anim-speed-extra-fast,
          opacity $anim-speed-extra-fast;

        &.-enabled {
          max-width: 300px;
          padding-left: $spacer-sm;
          opacity: 1;

        }

        &--label {
          margin: 0 $spacer-xs;
        }

        &--value {
          max-width: 200px;
        }
      }

    }

  }
}
