
$ratio: 1.61803398875;

/******************************************************************************
 * Colors
*******************************************************************************/

$black: #000;
$white: #fff;

$color-bg: lighten($black, 6.5%);

$color-text-main: lighten($color-bg, 90%);
$color-text-secondary: lighten($color-bg, 35%);

$ratio: 1.61803398875;
// $color-bg: #fff;
// $color-text-main: #333;
// $color-text-secondary: #999;



// $grey-dk: #333;
// $grey-md: #666;
// $grey-lt: #999;

/******************************************************************************
 * Typography
*******************************************************************************/

$font-size-mobile: 17px;
$font-size-base: 18px; //consider this "tablet size"
$font-size-laptop: 21px;
$font-size-desktop: 22px;

$p-size: 1em;
$p-size-small: .81em;
$p-line: 1.7;

$h1-size: 2.023em;
$h1-size-large: 3.273em;
$h1-size-vw: calc(2.023em + 1vw);
$h1-line: 1.25;

$h2-size: $ratio em;
$h2-line: 1.25;

$h3-size: 1.25em;
$h3-line: 1.25;
$h3-space: 1px;

$h4-size: 1em;
$h4-size-small: 22px;
$h4-line: 1.375;

$h5-size: .773em;
$h5-line: 1.875;

/******************************************************************************
 * layout
*******************************************************************************/

$spacer: $p-size;

$spacer-sm: ( $spacer / $ratio );
$spacer-xs: ( $spacer-sm / $ratio );
$spacer-xxs: ( $spacer-xs / $ratio );

$spacer-lg: ( $spacer * $ratio  );
$spacer-xl: ( $spacer-lg * $ratio );
$spacer-xxl: ( $spacer-xl * $ratio );

$gutter: ($spacer);

$browser-dot-size: .8vw;

/******************************************************************************
 * Animation
*******************************************************************************/

$anim-speed: .75s;
$anim-speed-slow: ($anim-speed * 1.25);
$anim-speed-fast: ($anim-speed * .75);
$anim-speed-extra-fast: ($anim-speed * .5);
