/******************************************************************************
 * Colors
*******************************************************************************/
$black: #000;
$white: #fff;
$grey-dk: #333;
$grey-md: #666;
$grey-lt: #999;

/******************************************************************************
 * Typography
*******************************************************************************/

$font-size-base: 18px;

$p-size: 1em;
$p-size-small: .773em;
$p-line: 1.7;

$h1-size: 2.023em;
$h1-size-large: 4.236em;
$h1-line: 1.25;

$h2-size: 1.618em;
$h2-line: 1.25;

$h3-size: 1.25em;
$h3-line: 1.25;
$h3-space: 1px;

$h4-size: 1em;
$h4-size-small: 22px;
$h4-line: 1.375;

$h5-size: .773em;
$h5-line: 1.875;

/******************************************************************************
 * layout
*******************************************************************************/

$gutter: 15px;
