# Required - The ID of your Sanity project
PUBLIC_SANITY_PROJECT_ID=""

# Required - The generated read token, used to fetch data on the server
SANITY_API_READ_TOKEN=""

# Required - Frontend production site url (without slash)
PUBLIC_SITE_URL=""

#  Required - Used for stega and jumping into Sanity Studio
PUBLIC_SANITY_STUDIO_URL=""