{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		},
		{
			"files": "src/lib/sanity/queries.ts",
			"options": {
				"printWidth": 100
			}
		}
	],
	"tailwindStylesheet": "./src/app.css"
}
